<div layout="vertical" layout-fill>

  <header ng-include="'components/navbar/navbar.html'"></header>

  <md-content>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="pokemon in pokemons | orderBy:'pkdx_id'" ng-if="pokemon.pkdx_id <= 151" flex="33">
        <md-toolbar class="md-theme-light md-default-theme">
          <h1 class="md-toolbar-tools">
            <span flex>{{pokemon.name}}</span>
            <ul flex class="type">
              <li ng-repeat="type in pokemon.types" flex>
                <a href="/#/type/{{type.name}}" flex>{{type.name}}</a>
              </li>
            </ul>
            <span flex>#{{pokemon.pkdx_id}}</span>
          </h1>
        </md-toolbar>
        <div>
          <img class="pull-center" ng-src="assets/pokemon/{{pokemon.pkdx_id}}.png" alt="{{pokemon.name}}" flex>
          <div class="caption">
            <p>{{pokemon.description[0]}}</p>
            <p><a ng-href="{{pokemon.url}}">{{pokemon.url}}</a></p>
          </div>
        </div>
      </md-card>
    </div>
  </md-content>

  <footer>
    <md-toolbar layout="row" layout-align="center center">
      <p>With ♥ from <a href="https://twitter.com/Swiip">@villersm</a></p>
    </md-toolbar>
  </footer>

</div>
