@import url("http://fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

html
  font-family 'Roboto Slab', serif

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

md-toolbar
  &.md-default-theme
    background-color black

.techs
  display flex
  flex-flow row wrap

.pull-right
  float right

.pull-left
  float left

.type
  list-style none
  li
    float left
    margin-left 5px

#loading-bar .bar
  background-color RED

.label
  display inline
  padding .2em .6em .3em
  font-size 75%
  font-weight 700
  line-height 1
  color #fff
  text-align center
  white-space nowrap
  vertical-align baseline
  border-radius .25em

.type-normal
  background-color #a8a878
  border solid 1px #6d6d4e

.type-fire
  background-color #f08030
  border solid 1px #9c531f

.type-fighting
  background-color #c03028
  border solid 1px #7d1f1a

.type-water
  background-color #6890f0
  border solid 1px #445e9c

.type-flying
  background-color #a890f0
  border solid 1px #6d5e9c

.type-grass
  background-color #78c850
  border solid 1px #4e8234

.type-poison
  background-color #a040a0
  border solid 1px #c183c1

.type-electric
  background-color #f8d030
  border solid 1px #a1871f

.type-ground
  background-color #e0c068
  border solid 1px #927d44

.type-psychic
  background-color #f85888
  border solid 1px #a13959

.type-rock
  background-color #b8a038
  border solid 1px #786824

.type-ice
  background-color #98d8d8
  border solid 1px #638d8d

.type-bug
  background-color #a8b820
  border solid 1px #6d7815

.type-dragon
  background-color #7038f8
  border solid 1px #4924a1

.type-ghost
  background-color #705898
  border solid 1px #493963

.type-dark
  background-color #705848
  border solid 1px #49392f

.type-steel
  background-color #b8b8d0
  border solid 1px #787887

.type-fairy
  background-color #ee99ac
  border solid 1px #9b6470

#img-pokemon
  width 200px!important

.tg
  border-collapse collapse
  border-spacing 0
  border-color #ccc
.tg td
  padding 10px 5px
  border solid 1px #ccc
  color #333
  background-color #fff
.tg th
  padding:10px 5px
  border solid 1px #ccc
  color #333
  background-color #f0f0f0
.tg .tg-s6z2
  text-align center

.descriptions
  clear left

.evolutions ul
  list-style none
  li
    text-align center
    width 100px
    float: left
    a
      text-decoration none
      color inherit
    a:hover, a:visited
      color inherit
      img
        opacity 0.4
        transition 0.4s all
