<div layout="vertical" layout-fill>
  <header data-ng-include="'components/navbar/navbar.html'"></header>

  <md-content id="combat">
    <div class="teamb">
      <progress max="{{fight[1].hpMax}}" value="{{fight[1].hp}}"></progress>
      <span class="name">{{fight[1].name}}</span>
      <span class="level">Lv {{fight[1].level}}</span>
      <span class="hp">{{fight[1].hp}} / {{fight[1].hpMax}}</span>
      <img data-ng-src="assets/pokemon/{{fight[1].pkdx_id}}.png" alt="{{fight[1].name}}">
    </div>
    <div class="teama">
      <progress max="{{fight[0].hpMax}}" value="{{fight[0].hp}}"></progress>
      <span class="name">{{fight[0].name}}</span>
      <span class="level">Lv {{fight[0].level}}</span>
      <span class="hp">{{fight[0].hp}} / {{fight[0].hpMax}}</span>
      <img data-ng-src="assets/pokemon/{{fight[0].pkdx_id}}.png" alt="{{fight[0].name}}">
    </div>
    <div class="action">
      <div id="atk">
        <div data-ng-click="atk(move)" data-ng-repeat="move in fight[0].moves | orderBy:'id'">{{move.name}}</div>
      </div>
      <div id="pkm">
        <a data-ng-click="selectPokemon($index)" title="{{team.name}}" data-ng-repeat="team in teams.a">
          <img src="assets/images/pokeball.png" data-ng-class="{activate: team.selected}"/>
        </a>
      </div>
    </div>
  </md-content>
  <audio autoplay loop>
    <source src="assets/pokemon/musique.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <footer>
    <md-toolbar layout="row" layout-align="center center">
      <p>With ♥ from <a href="https://twitter.com/villersm">@villersm</a></p>
    </md-toolbar>
  </footer>
</div>
