<div layout="vertical" layout-fill>
  <header data-ng-include="'components/navbar/navbar.html'"></header>
  <md-button ng-click="loadAll()" class="md-raised" aria-label="Load all">Load all</md-button>
  <div class="techs" layout-align="center">
    <md-text-float id="search" label="Pokemon name?" data-ng-model="query.name"></md-text-float>
  </div>
  <div class="techs" layout-align="center">
    <div class="text-left" flex="50">
      <img class="mini-pokemon" data-ng-repeat="team in teams.a" data-ng-src="assets/pokemon/{{team.pkdx_id}}.png" alt="{{team.name}}">
    </div>
    <div class="text-right" fle="50">
      <img class="mini-pokemon" data-ng-repeat="team in teams.b" data-ng-src="assets/pokemon/{{team.pkdx_id}}.png" alt="{{team.name}}">
    </div>
  </div>
  <md-content>
    <div class="techs" id="load" layout-align="center" infinite-scroll='addMore()' infinite-scroll-distance='0'>
      <md-card data-ng-repeat="pokemon in pokemons | filter: query" data-ng-if="pokemon.pkdx_id <= 718 || pokemon.pkdx_id >= 10033" flex="33">
        <md-toolbar class="md-theme-light md-default-theme">
          <h1 class="md-toolbar-tools">
            <a data-ng-href="#/pokemon/{{pokemon.name}}">
              <span>{{pokemon.name}}</span>
              <span>#{{pokemon.pkdx_id}}</span>
            </a>
          </h1>
        </md-toolbar>
        <div>
          <a data-ng-href="#/pokemon/{{pokemon.name}}">
            <img data-ng-src="assets/pokemon/{{pokemon.pkdx_id}}.png" alt="{{pokemon.name}}" class="pull-left">
          </a>
          <ul class="type pull-right">
            <li data-ng-repeat="type in pokemon.types">
              <a data-ng-href="#/type/{{type.name}}" class="label type-{{type.name}}">{{type.name}}</a>
            </li>
          </ul>
          <button data-ng-click="addPokemonTeamA(pokemon.name)">Add</button>
        </div>
      </md-card>
    </div>
  </md-content>

  <footer>
    <md-toolbar layout="row" layout-align="center center">
      <p>With ♥ from <a href="https://twitter.com/villersm">@villersm</a></p>
    </md-toolbar>
  </footer>
</div>
